* {
    box-sizing: border-box;
}

.background {
    background: url("./trainBackground.jpg") ; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0 !important;
    
  }
  
.my-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 6rem;
}

.layer {
    background-color: black;
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background: white;
    overflow-x: hidden;
}

.train-info {
    color: black;
    font-size: 1.5rem;
}
